<div class="col-lg-12">
  <h2> Leituras cadastradas</h2>
  <div class="form-group">
    <button class="btn btn-success" (click)="getLeituras()">Atualizar</button><br>
  </div>
  <input [(ngModel)]="filtro" placeholder="Filtro" name="filtro" class="form-control" id="campoFiltro">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Sensor 1</th>
        <th>Sensor 2</th>
        <th>Sensor 3</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let leitura of leituras | grdFilter: {id: filtro, nome:filtro, sensor1: filtro, sensor2: filtro, sensor3: filtro}">
        <td>{{leitura.id}}</td>
        <td>{{leitura.nome}}</td>
        <td>{{leitura.sensor1}}</td>
        <td>{{leitura.sensor2}}</td>
        <td>{{leitura.sensor3}}</td>
        <td><button class="btn btn-danger" (click)="deleteLeitura(leitura)"> Deletar leitura</button></td>
      </tr>
    </tbody>
  </table>
</div>